[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
requests = "*"
pandas = "*"
zeep = "*"
twilio = "*"
gunicorn = "*"
msal = "*"
openpyxl = "*"
bs4 = "*"
boto3 = "*"
retry = "*"
dynamodb-json = "*"
botocore = "*"
dacite = "*"
dependency-injector = "*"
asyncio = "*"
flask = { extras = ["async"], version = "*" }
watchtower = "*"
typing-extensions = "*"
pypdf = "*"
chromedriver-autoinstaller = "*"
selenium = "*"
pydantic = "*"
pyyaml = "*"
fastapi = "*"
uvicorn = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
freezegun = "*"
moto = "*"
pytest-cov = "*"

[requires]
python_version = "3.11"

[scripts]
test = "pipenv run python -m unittest tests"
